@import "~bootstrap/scss/bootstrap";

body {
        background-image: url("https://previews.123rf.com/images/marinamandarina/marinamandarina1809/marinamandarina180900038/118192747-vector-seamless-pattern-with-sandwich-can-be-used-for-textile-website-background-book-cover-packagin.jpg");
        background-repeat: repeat-x;
}

.container {
    justify-content: space-evenly;
}

.ingredient {
    margin-left: 1em;
    margin-right: 1em;
}

#selection-container {
    background-color: lightgreen;
    justify-content: space-around;
}

